.idea/*.*
.gradle/
Accounts/build/
Accounts/gradlew
Accounts/.gradle/
Accounts/gradlew.bat
Accounts/settings.gradle
calculator/build/
calculator/gradlew
calculator/.gradle/
calculator/gradlew.bat
calculator/settings.gradle
BigValue/build/
BigValue/gradlew
BigValue/.gradle/
BigValue/gradlew.bat
BigValue/settings.gradle
