.idea/
.gradle/
Accounts/build/
Accounts/gradlew
Accounts/.gradle/
Accounts/gradlew.bat
Accounts/settings.gradle
calculator/build/
calculator/gradlew
calculator/.gradle/
calculator/gradlew.bat
calculator/settings.gradle
BigValue/build/
BigValue/gradlew
BigValue/.gradle/
BigValue/gradlew.bat
BigValue/settings.gradle
Threads/build/
Threads/gradlew
Threads/.gradle/
Threads/gradlew.bat
Threads/settings.gradle
Enum/build/
Enum/gradlew
Enum/.gradle/
Enum/gradlew.bat
Enum/settings.gradle
Proc/build/
Proc/gradlew
Proc/.gradle/
Proc/gradlew.bat
Proc/settings.gradle
Proc/.idea/
Proc/gradle/
Proc/target/
Proc_NIO2/build/
Proc_NIO2/gradlew
Proc_NIO2/.gradle/
Proc_NIO2/gradlew.bat
Proc_NIO2/settings.gradle

ClientTCP/build/
ClientTCP/gradlew
ClientTCP/.gradle/
ClientTCP/gradlew.bat
ClientTCP/settings.gradle

ServerTCP/build/
ServerTCP/gradlew
ServerTCP/.gradle/
ServerTCP/gradlew.bat
ServerTCP/settings.gradle

ClientUDP/build/
ClientUDP/gradlew
ClientUDP/.gradle/
ClientUDP/gradlew.bat
ClientUDP/settings.gradle

ServerUDP/build/
ServerUDP/gradlew
ServerUDP/.gradle/
ServerUDP/gradlew.bat
ServerUDP/settings.gradle

WebServer/build/
WebServer/gradlew
WebServer/.gradle/
WebServer/gradlew.bat
WebServer/settings.gradle
WebServer/.idea/
WebServer/gradle/

BroadcastServer/build/
BroadcastServer/gradlew
BroadcastServer/.gradle/
BroadcastServer/gradlew.bat
BroadcastServer/settings.gradle

BroadcastClient/build/
BroadcastClient/gradlew
BroadcastClient/.gradle/
BroadcastClient/gradlew.bat
BroadcastClient/settings.gradle

Parsing/build/
Parsing/gradlew
Parsing/.gradle/
Parsing/gradlew.bat
Parsing/settings.gradle

MySQL/build/
MySQL/gradlew
MySQL/.gradle/
MySQL/gradlew.bat
MySQL/settings.gradle
MySQL/src/main/java/resources/db.properties
MySQL/.idea/
MySQL/gradle/

Hibernate/build/
Hibernate/gradlew
Hibernate/.gradle/
Hibernate/gradlew.bat
Hibernate/settings.gradle
Hibernate/src/main/java/resources/db.properties
Hibernate/.idea/
Hibernate/gradle/

MongoDB(simple)/build/
MongoDB(simple)/gradlew
MongoDB(simple)/.gradle/
MongoDB(simple)/gradlew.bat
MongoDB(simple)/settings.gradle
MongoDB(simple)/src/main/java/resources/db.properties
MongoDB(simple)/.idea/
MongoDB(simple)/gradle/

Spring/build/
Spring/gradlew
Spring/.gradle/
Spring/gradlew.bat
Spring/settings.gradle
Spring/src/main/java/resources/db.properties
Spring/.idea/
Spring/gradle/

Servlet/build/
Servlet/gradlew
Servlet/.gradle/
Servlet/gradlew.bat
Servlet/settings.gradle
Servlet/.idea/
Servlet/gradle/

VertxServer/build/
VertxServer/gradlew
VertxServer/.gradle/
VertxServer/gradlew.bat
VertxServer/settings.gradle
VertxServer/.idea/
VertxServer/gradle/

VertxClient/build/
VertxClient/gradlew
VertxClient/.gradle/
VertxClient/gradlew.bat
VertxClient/settings.gradle
VertxClient/.idea/
VertxClient/gradle/


Spring boot (rest)/build/
Spring boot (rest)/gradlew
Spring boot (rest)/.gradle/
Spring boot (rest)/gradlew.bat
Spring boot (rest)/settings.gradle
Spring boot (rest)/.idea/
Spring boot (rest)/gradle/


JavaFX/build/
JavaFX/gradlew
JavaFX/.gradle/
JavaFX/gradlew.bat
JavaFX/settings.gradle
JavaFX/.idea/
JavaFX/gradle/


